<div class="container">
  <div class="row">
    <div class="well well-lg">

        <div class="col-md-6 col-centered">
          <%= render 'form' %>
        </div>



      <div class="col-md-6 col-centered">
        <ul class="list-group add">

          <%= render @comments %>

        </ul>
      </div>
    </div>
  </div>
</div>
